<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Rest API with AJAX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3azpjGq7AoW3uAO7ZWr69PtkTw9fspd3yD65Voh4pGmpriUMc/H4C60LlF"
          crossorigin="anonymous">
</head>
<body>
<div class="container" style="min-height: 500px;">
    <div class="starter-template">
        <h1>Spring Boot REST API with AJAX Example</h1>
        <img id="images" src="" alt="" width="100%" />
        <div id="profile"></div>
        <button id="Logout">Logout</button>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFyZWLAL8N4U5sFZMSMeFMRKnF9+jZnN24q/iw1yJlHBOUheC+OHG6D9Ex"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>